footer#footer {
	background-color: gray; 
	color: white; 
	position: fixed; 
	bottom: 0; 
	left: 0;
	width: 100%; 
	text-align: center; 
	padding: 10px 0; 
	font-size: 14px; 
}


header#header {
    background-color: gray; 
    color: white; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 30px 5px; 
    width: 100%; 
    position: fixed; 
    top: 0px; 
    left: 0;
    z-index: 1000;
}

header#header .logo {
    display: flex; 
    align-items: center; 
    gap: 10 px; 
    font-size: 18px; 
    font-weight: bold;
}

header #header .logo span {
    color: white;
    transition: all 0.3s ease;
}
header #header .logo:hover span {
    color: black;
    text-decoration: bold;
}


header#header .logo span {
    position: absolute; 
    left: 80px; 
    top: 30px; 
    font-size: 30px; 
    font-weight: bold;
}

header#header .buttons {
    display: flex; 
    gap: 20px;
}

header#header .buttons button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right:20px ;
}

header#header .buttons button:hover {
    background-color: white;
    color: gray;
}



.about-person {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    border: 2px solid gray; 
    border-radius: 10px; 
    padding: 20px; 
    margin: 20px 0; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.about-person .person-photo img {
    width: 180px; 
    height: 180px; 
    border-radius: 10px; 
    object-fit: cover; 
}


.about-person .person-info {
    flex: 1; 
}


.about-person .person-info h2 {
    font-size: 24px; 
    margin: 0 0 10px; 
    color: #000000; 
}

.about-person .person-info p {
    font-size: 16px; 
    margin: 0; 
    color: #171717; 
}


.about-person{
    margin:100px auto;
    width: 500px;
    text-align: center;
    
}



.illustrated-grid  {
    margin-top: 150px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-post {

    margin: 50px auto;
    width: 450px; 
    text-align: center;
    padding: 20px;  
    background-color: #f9f9f9; 
    border: 2px solid #e0e0e0; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

.blog-image{
    width: auto;
    margin: auto;
}
#content img {
    max-width: 100%;
    height: 200px;
     
  }


#about-site {
    margin: auto;
    max-width: 800px; 
    padding-top: 150px;
    padding-bottom:30px; 
    background-color: #f7f7f7; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding-left: 10px;
    padding-right: 10px;
}


#about-site h2 {
    font-size: 24px; 
    color: #333; 
    text-align: center; 
    margin-bottom: 15px; 
}

#about-site h3 {
    font-size: 20px; 
    color: #333; 
    text-align: center; 
    margin-bottom: 15px; 
}


#about-site p {
    font-size: 16px; 
    color: #555; 
    line-height: 1.6; 
    margin-bottom: 15px; 
}


#about-site ul {
    list-style-type: disc; 
    margin-left: 20px; 
    padding-left: 0; 
}

#about-site ul li {
    font-size: 16px; 
    color: #444; 
    margin-bottom: 10px; 
}

#about-site section {
    margin-bottom: 30px;
}

#about-site img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 80%;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body{
    background-image: url('./../images/snowflakes.svg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top left;
    margin: 0;
    background-size: auto 10%;
}

.person-Umarov {
    background-image: url('../images/backGroundUmarov.svg');
    background-repeat: repeat;
    background-size: auto 70%;
}

.person-Kapitov {
    background-image: url('../images/backGroundKapitov.svg');
    background-size: cover;
    background-position: center;
    background-size: auto 20%;
    border-radius: 10px;
}

.person-Kapitov img{
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}





  @media only screen and (max-width: 1200px){
    .illustrated-grid {
        margin-top: 130px;
    }


    .blog-post {
        width: 400px; 
        margin: 15px auto;
    }


    .about-person { 
        margin: 150px auto;
        width: 420px;
        padding: 10px;
    }

    
    .about-person .person-photo img {
        width: 130px; 
        border-radius: 10px; 
    }

  }

  @media only screen and (max-width:991px) {
    .illustrated-grid {
        margin-top: 130px;
        grid-template-columns: 1fr; 
    }
    
    .blog-post {
        width: 600px; 
        margin: 15px auto;
    }


    .about-person {
        margin: 15px auto;
        width: 600px;
        padding: 10px;
    }


  }

@media only screen and (max-width: 768px) {

    header#header .logo {
        text-align: left; 
        height: 50px; 
    }
    header#header .logo img {
        width: 60px; 
        height: 60px; 
    }
    header#header .logo span {
        left: 70px; 
        top: 30px; 
        font-size: 18px; 
    } 

    .illustrated-grid {
        margin-top: 130px;
        grid-template-columns: 1fr; 
    }
    footer#footer {
        position: fixed; 
        padding: 8px 0; 
        font-size: 10px; 
    }

    .blog-post {
        width: 420px; 
        margin: 15px auto;
    }


    .about-person {
        margin: 15px auto;
        width: 420px;
        padding: 10px;
    }

    
    .about-person .person-photo img {
        width: 130px; 
        border-radius: 10px; 
    }

}

@media only screen and (max-width: 509px) {
    .illustrated-grid {
        margin-top: 100px;
        grid-template-columns: 1fr; 
    }
    header#header {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px; 
        width: 100%;
    }
    header#header .logo {
        text-align: left; 
        height: 50px; 
    }
    header#header .logo img {
        width: 50px; 
        height: 50px; 
    }
    header#header .logo span {
        left: 70px; 
        top: 30px; 
        font-size: 18px; 
    } 
    header#header .buttons {
        width: 200px;
        height: 30px; 
        margin: auto;
    }

    header#header .buttons button {
        width: 90%; 
        font-size: 10px; 
        padding: 10px;
        margin: auto;
    } 

    .about-person .person-photo img {
        width: 100px; 
        border-radius: 5px; 
    }
    .about-person .person-info h2 {
        font-size: 18px; 
    }
    
    .about-person .person-info p {
        font-size: 15px; 
    }
    .about-person{
        margin:20px auto;
        width: 280px;
        gap: 20px; 
        padding: 10px; 
    }

    .blog-post {
        width: 280px; 
        margin: 15px auto;
    }
}